.about-company {
    max-width: 100%;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
    
    &__description {
        padding: 0 16px;
        margin-bottom: 16px;
        
    }

    &__text {
        display: inline-block;
        max-width: 312px;
        max-height: 110px;
        overflow: hidden;

    }




    &__picture{
        max-width: 320px;
        height: auto;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

@media screen and (min-width: 768px) {
    .about-company{
        &__inner{
            padding: 0 24px;
        }
        &__description{
            padding: 0;
            max-width: 335px;
        }

        &__text {
            max-width: 100%;
            max-height: 170px;
        }

        &__picture{
            max-width: 360px;
            
            img{
                border-radius: 10px;
            }
            
        }
    }    
}

@media screen and (min-width: 1120px) {
    .about-company{

        &__description{
            max-width: 490px;
        }

        &__text {
            max-height: 100%;

        }

        &__btn {
            margin-top: 13px;
        }


        &__picture{
            max-width: 100%;
            
            img{
                border-radius: 10px;
            }
            
        }
    }    
}