.about-company {
    max-width: 100%;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
    
    &__description {
        padding: 0 16px;
        margin-bottom: 16px;
        
    }

    

    &__link{

        &--showless {

            &::before{
                transform-origin: center;
                transform: rotate(180deg);
                top: -8px !important;
            }

        }
    }
    

    &__text {
        display: inline-block;
        max-width: 312px;
        min-height: none;
        max-height: 110px;
        overflow: hidden;

        &--more{
            max-height: none;
        }

        span ~ #text2 {
            margin-top: 10px;
            display: none;
        }

    }




    &__picture{
        max-width: 320px;
        max-height: 230px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

@media screen and (min-width: 768px) {
    .about-company{
        &__inner{
            padding: 0 24px;
        }
        &__description{
            padding: 0;
            max-width: 335px;
        }

        &__text {
            max-width: 100%;
            max-height: 170px;
        }

        &__picture{
            max-width: 360px;
            
            img{
                border-radius: 10px;
            }
            
        }
    }    
}

@media screen and (min-width: 1120px) {
    .about-company{

        &__description{
            max-width: 490px;
        }

        &__btn {
            margin-top: 13px;
        }


        &__picture{
            max-width: 100%;
            max-height: 300px;            
            img{
                border-radius: 10px;
            }
            
        }
    }    
}