html {
  box-sizing: border-box;
}
*, *::before,*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
menu,
body,
button{
  margin: 0;
  padding: 0;
}

button{
  border: none;
  cursor: pointer;
  position: relative;
}


.page{
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1120px;
  margin: 0 auto;
  font-family: "TT Lakes", sans-serif;
  overflow: auto;
  background-color: #F8F8F8;
  position: relative;


}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
}

.blur{
  width: 100%;
  height: 1820px;
  background: rgba(255, 255, 255, 0.96);
  mix-blend-mode: normal;
  position: absolute;
  display: none;
  z-index: 3;
  &--active{
    display: block;
  }
}


@media screen and (min-width: 1120px) {
  .blur{
    display: none;
    z-index: 20;
  }


  .blur--active{
    display: block;
  }
  .page{
    max-width: 1440px;
  }


}