html {
  box-sizing: border-box;
}
*, *::before,*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
menu,
body{
  margin: 0;
  padding: 0;
}

button{
  border: none;
}


.page{

  max-width: 1120px;
  margin: 0 auto;
  font-family: "TT Lakes", sans-serif;
  overflow: auto;



}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 16px;
}

.blur{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.96);
  mix-blend-mode: normal;
  position: absolute;

}