
.brands{
    min-height: 110px;
    max-height: 160px;
    padding: 0 16px;
    width: 100%;
    
    &::before{
        content: "";
        width: 24px;
        height: 65px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }

    &__button {
        display: none;
    }

    &__item {
        position: relative;
        max-width: 240px;
        max-height: 72px;

        

    }

    &__link {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-radius: 6px;
        border: 1px solid $content;
        background: #fff;
        cursor: pointer;
        border-radius: 6px; 

        &:hover {
            background: linear-gradient(to bottom right, #CCFBFF, #EF96C5);
        }
    }

    &__btn {
        @extend .common-button;
        width: 36px !important;
        height: 36px !important;
        background-color: transparent !important;
        border: 2px solid $accent;


    }


}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;
    margin: 0 12px;
    opacity: .9;

    &-active {
        background-color:#B5B6BC;
    }
}



@media screen and (min-width: 767px) {
    .brands {
        padding: 0 24px;

        &::before {
            display: none;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 16px 24px;
        }

        &__item {
            max-width: 224px;
            max-height: 72px;    
        }

        &__button {
            display: block;
            padding: 10px 32px;

            &--less{
                padding: 46px 32px;
            }
        }

    }

}


@media screen and (min-width: 1120px) {
    .brands {
        padding: 0 32px;

        &__item {
            max-width: 240px;
            max-height: 72px;    
        }

        &__list {
            gap: 16px 32px;
        }

    }

}


