.contacts {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;


    &__mail{
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;

        &:hover{
            color: rgb(0, 17, 255);
        }
    }

    &__phone {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;  
        margin-top: 12px;

        &:hover{
            color: rgb(0, 17, 255);
        }
    }
}