.functional-btns {
    
    display: flex;
    align-items: center;

    &__button {
        position: relative;
       
    }


    &__line {
        width: 18px;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;
        position: absolute;
        top: 13px;
        left: 11px;

        &:nth-child(2),
        &:nth-child(3) {
            width: 10px;
            margin-top: 6px;
        }

        &:last-child {
            width: 14px;
            margin-top: 12px;    
        }

    }

    &__logo {
        margin-left: 20px;
        position: relative;
    

    }

    &__search {
        margin-left: auto;

    }

    &__logo--line {

        &::after {
            content: "";
            margin-left: 17px;
            width: 2px;
            height: 32px;
            background-color: #EAEAEA;
            position: absolute;
            top: 12px;
            left: 100%;
        }
    }

    &__button--close span {
        
        &:first-child,
        &:last-child {
            display: none;
        }

        &:nth-child(2),
        &:nth-child(3) {
            width: 18px;
            transition: 0.2s;        
        }

        &:nth-child(2) {
            transform: rotate(45deg);        
        }

        
        &:nth-child(3) {
            transform: rotate(-45deg);        
        }
    }
}

@media screen and (min-width: 768px) {
    .functional-btns {


        &__logo--line {

            padding-left: 20px;

            &::after {
                left: 0px;
                margin-left: 0;    
            }
        }
    }    
}