

//=== SECTION ===

.main {

    .services{

        &__inner{
            padding-top: 24px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }



    }
}



//=== SECTION ===
