

//=== SECTION ===

.main {

    .services{

        &__inner{
            padding-top: 24px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

    }
}


@media screen and (min-width: 1120px) {
    .main {

        .services{

            &__inner{
                padding-top: 42px;
            }

        }
    }

}


//=== SECTION ===
