// ===NAV-MENU===
.menu {
    min-width: 320px;
    height: 100%;
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 1000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);

    &--active{
        display: block;
    
    }
    
    
    &__inner {
        width: 100%;
        height: 100vh;
        padding: 18px 24px 32px;
        padding-bottom: 24px;
        overflow: scroll;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar{
            display: none;
        }

    }

    &__list {
        margin-top: 50px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;

    }

    &__item:not(:last-of-type) {
        margin-bottom: 32px;
    }


    &__media{
        margin-top: 32px;
        display: flex;
        flex-direction: column;

    }
    .socials--bottom {
        display: flex;
    }

    &__link--active {
        color: $linkcolor;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -24px;
            width: 4px;
            height: 32px;
            background: #41F6D7;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

@media screen and (min-width: 768px){
    .menu {

        &__media{
            margin-top: 279px;    

        }

    }  

}

@media screen and (min-width: 1120px){
    .menu {

        &__media{
            margin-top: auto;    

        }

    }  

}

          

//        .aside-wrapper{
//             
        
//             .nav__menu{
//                 

//                 li{
//                     margin-bottom: 24px;

//                     &:last-of-type{
//                         margin-bottom: 32px;
//                     }


//                     a:hover{
//                                 color: #7E7E82;
//                     }

//                     &:first-of-type{
//                         position: relative;
                        
//                         a{
//                             color: #7E7E82;   
//                         }

//                         &::before{

//                             content: "";
//                             position: absolute;
//                             top: -5px;
//                             left: -24px;
//                             width: 4px;
//                             height: 32px;
//                             background: #41F6D7;
//                             border-top-right-radius: 5px;
//                             border-bottom-right-radius: 5px;
//                         }    
//                     }       
//                 }
//             }

//             .nav__socials{
//                 width: 196px;
//                 height: 124px;
//                 display: flex;
//                 flex-wrap: wrap;
//                 justify-content: space-between;
//                 align-items: center;
                

//                 .socials__buttons-link:last-of-type{
//                     margin-right: 44px;
//                 }

//                 .socials__footer-tel{
//                     font-size: 24px;
//                     line-height: 32px;
//                     font-weight: 600;
//                     letter-spacing: -0.6px;
//                 }
                
//             }
//             .nav__languages{
//                 margin-top: 8px;
//                 display: flex;
//                 justify-content: space-between;
//                 .languages__item-link:hover{
//                     color: #7E7E82;
//                 }

//                 .languages__item-link:first-of-type{
//                     color:#7E7E82;
//                 }

//                 .languages__item-link:last-of-type{
//                     margin-right: 209px;
//                 }
//             }
//         }
//     }
// }   
    

// ===NAV-MENU===