// ===NAV-MENU===
.menu {
    min-width: 320px;
    height: 5000px;
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 1000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    top: 0;
    

    &--active{
        display: block;
    
    }
    
    
    &__inner {
        width: 100%;
        height: 100%;
        padding: 18px 24px 32px;
        padding-bottom: 24px;
        overflow: scroll;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar{
            display: none;
        }

    }

    &__list {
        margin-top: 50px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;

    }

    &__item:not(:last-of-type) {
        margin-bottom: 32px;
    }


    &__media{
        margin-top: 32px;
        display: flex;
        flex-direction: column;

    }
    .socials--bottom {
        display: flex;
    }

    &__link {
        &:hover {
            color: $linkcolor;    
        }
    }

    &__link--active {
        color: $linkcolor;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            left: -24px;
            width: 4px;
            height: 32px;
            background: #41F6D7;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

@media screen and (min-width: 768px){
    .menu {
        height: 1820px;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);    
        

        &__media{
            margin-top: 279px;
            
        }

    }  

}


@media screen and (min-width: 1120px){
    .menu {
        height: 1880px;
        display: block;
        box-shadow: none;
        max-width: 320px;
        position: initial;
        &__inner{
            padding-top: 32px;
            overflow: visible;
        }

        // &__media{
        //     margin-top: 100px;
        // }
    }

}

// ===NAV-MENU===